<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= SiteConfig.sitename %></title>
    <meta name="author" content="<%= SiteConfig.author %>" />

    <link rel="icon" type="image/png" href="/img/favicon32.png" />

    <script type="text/javascript">
      <!-- Google Analytics -->
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= SiteConfig.google_analytics_account %>']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    
  </head>
  <body>
    <h1>Page for Internet Explorer Users</h1>
    <h2>The site has some issues with Internet Explorer that I have not yet resolved (and possibly with other browsers that I don't know about).  You can either try this site again in a <i>current</i> version of <a href="http://www.google.com/chrome/">Chrome</a>, <a href="http://www.mozilla.com/firefox/">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>, or <a href="http://www.opera.com/">Opera</a>, or simply use one of the following direct links to the MP3 files:</h2>
    <h3>
    <% @songs.each do |song| %>
    <a href="<%= song.mp3 %>"><%= song.title %></a><br/>
    <% end %>
    </h3>
  </body>
</html>

