<h1>Music</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Title</th>
    <th>Mp3</th>
    <th>Ogg</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.position %></td>
    <td><%= song.title %></td>
    <td><%= song.mp3_file_name %></td>
    <td><%= song.ogg_file_name %></td>
    <td><%= song.description %></td>
    <td><%= link_to 'Show', song %></td>
  </tr>
<% end %>
</table>

<br />
